:root {
  font: 15px/1.45 system-ui, 'Segoe UI', Roboto, sans-serif;
  color-scheme: light dark;
  color: #24292f;
  background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #d0d7de;
    background: #16171d;
  }
}

body {
  margin: 0;
}

code,
pre {
  font-family: ui-monospace, Consolas, monospace;
}
